Repository webrecorder/browsertrix, pull requests merged in 2023-04, with the labels that each got.

#728 Docs: adds mkdocs features, adds theming
  docs/deploy/index.md
  docs/deploy/local.md
  docs/deploy/production.md
  docs/dev/docs.md
  docs/develop/docs.md
  docs/develop/frontend-dev.md
  docs/develop/index.md
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: enhancement, ui/ux

#756 Inverts the autoscroll behavior setting to true by default
  frontend/src/pages/org/workflow-editor.ts
Labels: front end

#755 Adds `inputmode` attributes to workflow config fields
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-new.ts
Labels: front end

#758 Docs: Font additions, style updates, and icon implementation
  README.md
  docs/assets/fonts/Recursive_VF_1.084.woff2
  docs/deploy/local.md
  docs/develop/docs.md
  docs/overrides/.icons/bootstrap/bug-fill.svg
  docs/overrides/.icons/bootstrap/chat-left-text-fill.svg
  docs/overrides/.icons/bootstrap/check-circle-fill.svg
  docs/overrides/.icons/bootstrap/exclamation-circle-fill.svg
  docs/overrides/.icons/bootstrap/exclamation-diamond-fill.svg
  docs/overrides/.icons/bootstrap/exclamation-triangle-fill.svg
  docs/overrides/.icons/bootstrap/eye.svg
  docs/overrides/.icons/bootstrap/file-earmark-text-fill.svg
  docs/overrides/.icons/bootstrap/github.svg
  docs/overrides/.icons/bootstrap/globe.svg
  docs/overrides/.icons/bootstrap/info-circle-fill.svg
  docs/overrides/.icons/bootstrap/mastodon.svg
  docs/overrides/.icons/bootstrap/mortarboard-fill.svg
  docs/overrides/.icons/bootstrap/motherboard-fill.svg
  docs/overrides/.icons/bootstrap/pencil-fill.svg
  docs/overrides/.icons/bootstrap/pencil.svg
  docs/overrides/.icons/bootstrap/question-circle-fill.svg
  docs/overrides/.icons/bootstrap/quote.svg
  docs/overrides/.icons/bootstrap/x-octagon-fill.svg
  docs/overrides/.icons/bootstrap/youtube.svg
  docs/overrides/main.html
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation

#767 Btrix Operator Crawl Management
  backend/Dockerfile
  backend/btrixcloud/crawl_job.py
  backend/btrixcloud/crawlconfigs.py
  backend/btrixcloud/crawlmanager.py
  backend/btrixcloud/crawls.py
  backend/btrixcloud/k8s/__init__.py
  backend/btrixcloud/k8s/base_job.py
  backend/btrixcloud/k8s/crawl_job.py
  backend/btrixcloud/k8s/k8sapi.py
  backend/btrixcloud/k8s/k8sman.py
  backend/btrixcloud/k8s/profile_job.py
  backend/btrixcloud/k8s/templates/btrix_job.yaml
  backend/btrixcloud/k8s/templates/crawl_job.yaml
  backend/btrixcloud/k8s/templates/crawler.yaml
  backend/btrixcloud/k8s/templates/profile_job.yaml
  backend/btrixcloud/k8s/utils.py
  backend/btrixcloud/k8sapi.py
  backend/btrixcloud/main.py
  backend/btrixcloud/main_scheduled_job.py
  backend/btrixcloud/migrations/migration_0001_archives_to_orgs.py
  backend/btrixcloud/operator.py
  backend/btrixcloud/orgs.py
  backend/btrixcloud/profile_job.py
  backend/btrixcloud/templates/crawl_cron_job.yaml
  backend/btrixcloud/templates/crawl_job.yaml
  backend/btrixcloud/templates/crawler.yaml
  backend/btrixcloud/templates/profile_job.yaml
  backend/btrixcloud/templates/profilebrowser.yaml
  backend/btrixcloud/templates/redis.yaml
  backend/btrixcloud/utils.py
  chart/templates/backend.yaml
  chart/templates/btrixjobs-controller.yaml
  chart/templates/btrixjobs-crd.yaml
  chart/templates/configmap.yaml
  chart/templates/role.yaml
  chart/values.yaml
Labels: back end

#790 Revert docs body font to Inter
  docs/assets/fonts/Inter-Italic.var.woff2
  docs/assets/fonts/Inter.var.woff2
  docs/stylesheets/extra.css
Labels: enhancement
