Repository webrecorder/browsertrix, pull requests merged in 2024-02, with the labels that each got.

#1476 Docs: Improve relative links
  docs/deploy/ansible/digitalocean.md
  docs/deploy/index.md
  docs/deploy/remote.md
  docs/develop/frontend-dev.md
  docs/develop/index.md
  docs/index.md
  docs/user-guide/archived-items.md
  docs/user-guide/collections.md
  docs/user-guide/crawl-workflows.md
  docs/user-guide/index.md
  docs/user-guide/signup.md
  docs/user-guide/workflow-setup.md
Labels: documentation

#1510 Updates browser profile selector help text
  frontend/src/features/browser-profiles/select-browser-profile.ts
  frontend/src/pages/org/workflow-editor.ts
Labels: enhancement, front end

#1514 Fixes workflow selector keyboard navigation
  frontend/src/features/crawl-workflows/new-workflow-dialog.ts
Labels: bug, front end

#1524 Hotfix: Crawls page table click targets not applied to the right elements
  frontend/src/components/ui/table/table.stylesheet.css
  frontend/src/features/archived-items/crawl-list.ts
Labels: bug, front end

#1517 enable a few more useful eslint suggestions & correct some more types
  .vscode/settings.json
  frontend/.eslintrc.js
  frontend/index.d.ts
  frontend/src/components/orgs-list.ts
  frontend/src/components/screencast.ts
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/combobox.ts
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/input/input.ts
  frontend/src/components/ui/locale-picker.ts
  frontend/src/components/ui/search-combobox.ts
  frontend/src/components/ui/tab-list.ts
  frontend/src/components/ui/table/table.ts
  frontend/src/components/ui/tag-input.ts
  frontend/src/features/accounts/account-settings.ts
  frontend/src/features/archived-items/crawl-logs.ts
  frontend/src/features/archived-items/crawl-queue.ts
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/archived-items/file-uploader.ts
  frontend/src/features/archived-items/item-metadata-editor.ts
  frontend/src/features/browser-profiles/new-browser-profile-dialog.ts
  frontend/src/features/browser-profiles/profile-browser.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/features/collections/collection-metadata-dialog.ts
  frontend/src/features/collections/collection-workflow-list.ts
  frontend/src/features/collections/collections-add.ts
  frontend/src/features/crawl-workflows/queue-exclusion-table.ts
  frontend/src/features/crawl-workflows/workflow-list.ts
  frontend/src/index.test.ts
  frontend/src/index.ts
  frontend/src/pages/crawls.ts
  frontend/src/pages/home.ts
  frontend/src/pages/log-in.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/browser-profiles-detail.ts
  frontend/src/pages/org/browser-profiles-list.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/collections-list.ts
  frontend/src/pages/org/dashboard.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflow-editor.ts
  frontend/src/pages/org/workflows-list.ts
  frontend/src/types/crawler.ts
  frontend/src/types/org.ts
  frontend/src/utils/AuthService.ts
  frontend/src/utils/api.ts
  frontend/src/utils/crawler.ts
  frontend/src/utils/localization.ts
  frontend/src/utils/polyfills.ts
Labels: enhancement

#1523 docs: Adds more details about browser profile capabilities
  docs/user-guide/browser-profiles.md
  docs/user-guide/overview.md
Labels: documentation

#1528 Include leading zero in months when accessing usage and quota data
  frontend/src/pages/org/dashboard.ts
  frontend/src/types/org.ts
  frontend/src/types/utils.ts
Labels: bug, front end

#1543 Archived item nav button quickfix
  frontend/src/components/ui/navigation/navigation-button.ts
  frontend/src/components/ui/pagination.ts
  frontend/src/components/ui/tab-list.ts
  frontend/src/features/collections/collection-items-dialog.ts
  frontend/src/pages/org/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa.ts
  frontend/src/pages/org/archived-items.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/settings.ts
  frontend/src/pages/org/workflow-detail.ts
Labels: bug, front end
