Repository webrecorder/browsertrix, pull requests merged in 2024-05, with the labels that each got.

#1783 Update dash and slash icons
  docs/overrides/.icons/bootstrap/check-circle.svg
  docs/overrides/.icons/bootstrap/dash-circle.svg
  docs/overrides/.icons/bootstrap/dash-square-fill.svg
  docs/overrides/.icons/bootstrap/exclamation-square-fill.svg
  docs/overrides/.icons/bootstrap/x-octagon.svg
  docs/stylesheets/extra.css
  docs/user-guide/archived-items.md
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Labels: documentation, enhancement

#1785 Add emails to the org settings tables
  frontend/src/pages/org/settings.ts
Labels: front end

#1793 [Bug] Collection detail: only update dialog state on close event if close event originates from dialog
  frontend/src/components/ui/dialog.ts
  frontend/src/pages/org/collection-detail.ts
Labels: bug, front end

#1794 Custom button cleanup & toolbar button styles
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/copy-field.ts
  frontend/src/features/crawl-workflows/queue-exclusion-form.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
Labels: front end

#1814 Misc UI fixes (primarily buttons)
  frontend/src/components/ui/button.ts
  frontend/src/components/ui/copy-button.ts
  frontend/src/components/ui/copy-field.ts
  frontend/src/index.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
Labels: front end

#1819 ensure loader fills image swiper, and only display loader when replay data is nullish, not when it's loaded but there's no image data
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/spinner.ts
Labels: bug, front end

#1841 Docs: Elaborates on using user agents
  docs/user-guide/workflow-setup.md
Labels: documentation
