Repository webrecorder/browsertrix, pull requests merged in 2024-04, with the labels that each got.

#1643 Adds documentation for exporting files
  docs/user-guide/archived-items.md
  docs/user-guide/collections.md
Labels: documentation

#1645 Minor UI additions for QA
  frontend/src/assets/icons/microscope.svg
  frontend/src/features/archived-items/crawl-status.ts
  frontend/src/features/qa/page-list/helpers/iconFor.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/src/pages/org/workflows-list.ts
Labels: ui/ux, front end

#1667 Emit eslint errors during webpack builds & during dev
  frontend/package.json
  frontend/webpack.config.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
  frontend/yarn.lock
Labels: tooling

#1680 Fix icons in 1.9.8
  frontend/package.json
  frontend/src/shoelace.ts
  frontend/yarn.lock
Labels: bug, front end

#1688 Changes download icons to cloud-download
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/workflow-detail.ts
Labels: front end

#1592 Frontend: App Branding!
  README.md
  assets/browsertrix-lockup-color-dynamic.svg
  frontend/assets/btrix-cloud.svg
  frontend/src/assets/brand/browsertrix-lockup-color.svg
  frontend/src/assets/icons/link-replay.svg
  frontend/src/assets/icons/microscope.svg
  frontend/src/assets/icons/replaywebpage.svg
  frontend/src/components/ui/config-details.ts
  frontend/src/components/ui/navigation/navigation-button.ts
  frontend/src/components/ui/tab-list.ts
  frontend/src/index.ejs
  frontend/src/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/collection-detail.ts
  frontend/src/pages/org/index.ts
  frontend/src/pages/org/workflow-detail.ts
  frontend/tailwind.config.js
Labels: enhancement, front end

#1720 Frontend QA: show currently sorted heuristic percentages in page list
  frontend/src/features/qa/page-list/helpers/severity.ts
  frontend/src/features/qa/page-list/ui/page-details.ts
  frontend/src/features/qa/page-list/ui/page.ts
Labels: front end

#1709 More Frontend QA Polish Changes
  frontend/src/features/qa/page-list/ui/page.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/styles.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
Labels: front end

#1722 QA UI: Copy updates & beta tag
  frontend/src/components/beta-badges.stylesheet.css
  frontend/src/components/beta-badges.ts
  frontend/src/components/index.ts
  frontend/src/pages/org/archived-item-detail/archived-item-detail.ts
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/resources.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
  frontend/src/pages/org/archived-item-qa/ui/text.ts
  frontend/tailwind.config.js
Labels: front end

#1726 add best text & screenshot match sorting options
  frontend/src/features/qa/page-list/page-list.ts
Labels: front end

#1738 Quick fix: hoist tooltips in archived item list
  frontend/src/features/archived-items/archived-item-list.ts
Labels: bug, front end

#1763 Add note on checking browser profiles for scheduled crawls
  docs/user-guide/workflow-setup.md
Labels: documentation

#1770 Frontend QA dual slider view doesn't correctly show missing images
  frontend/src/pages/org/archived-item-detail/ui/qa.ts
  frontend/src/pages/org/archived-item-qa/archived-item-qa.ts
  frontend/src/pages/org/archived-item-qa/ui/screenshots.ts
Labels: front end
