Repository webrecorder/browsertrix, pull requests merged in 2025-03, with the labels that each got.

#2474 Add Content-Length and Etag headers to thumbnail endpoint
  backend/btrixcloud/colls.py
Labels: back end

#2477 Hide breadcrumbs for private orgs
  backend/btrixcloud/colls.py
  backend/btrixcloud/models.py
  frontend/src/pages/collections/collection.ts
  frontend/src/types/collection.ts
Labels: front end, back end

#2429 docs: add development section on action menus
  frontend/docs/docs/develop/design-action-menus.md
  frontend/docs/docs/index.md
  frontend/docs/mkdocs.yml
Labels: documentation

#2506 docs: Add UI documentation page on status icons
  frontend/docs/docs/develop/docs.md
  frontend/docs/docs/develop/ui/design-action-menus.md
  frontend/docs/docs/develop/ui/design-status-icons.md
  frontend/docs/docs/overrides/.icons/bootstrap/slash-circle-fill.svg
  frontend/docs/docs/stylesheets/extra.css
  frontend/docs/docs/user-guide/index.md
  frontend/docs/mkdocs.yml
Labels: documentation
